            body {
                background-color: lightslategray;
            }
            
            #top-header {
                text-align: center;
                font-family: monospace;
                font-size: 40px;
            }
            
            .top {
                text-align: center;
            }
            
            #cat-fact {
                font-family: cursive;
                font-size: 20px;
            }
            
            button {
                background-color: black;
                font-family: cursive;
                color: white;
                padding: 5px 10px 5px;
                border-radius: 4px;
                border-color: black;
                display: inline-block;
                text-align: center;
            }
            
            .bottom {
                text-align: center;
            }
            
            .cat-image {
                border-radius: 30%;
            }